.service-intro {
  text-align: center;
  position: relative;
  height: 600px;
  padding: 40px 0;
  font-family: 'IBM-Plex-Sans-KR';
}

.service-text {
  font-size: 35px;
  color: #3D3D3D;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.service-card {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card img {
  width: 100px;
  height: 100px;
}

.service-button {
  margin-top: 20px;
  font-family: 'IBM-Plex-Sans-KR';
  font-size: 20px;
  height: 50px;
  width: 180px;
  background-color: #578E7E;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
