
.navbar {
  width: 100%;
  background-color: white;
  /* align-items: center; */
  padding: 20px 0px;
  margin-left: 5%;
  margin-left: 5%;
  display: flex;
  /* justify-content: space-evenly; */
}

.navbarMenu {
  font-family: 'IBM-Plex-Sans-KR';
  font-weight: 500;
  font-size: 18px;
  color: #3D3D3D;
  text-decoration: none;
  justify-content: center;
}