.intro-container {
    background-image: url('../assets/images/introImage.jpg');
    width: 100%;
    height: 400px;
    color: rgb(255, 255, 255); 
    font-family: 'IBM-Plex-Sans-KR';
    background-repeat: no-repeat;
    background-size: cover
}

.loginButton {
    width: 100px;
    height: 50px;
    background-color: #578E7E;
    color: white;           
    border: none;
    border-radius: 5px;       
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s; 
    transform: translateY(10px)
}

.introText{
    transform: translateX(150px) translateY(100px)
}